.card {
    background-color: #fff;
    color: #4d4d4d;
    margin: 15 15 0;
}
.card-layout {
    padding: 20;
}
.card-layout .h1 {
    margin-bottom: 15;
}
.page {
    background-color: rgb(237, 237, 237);
}

.cardStyle {
    background-color: #fff;
    color: rgb(43, 43, 43);
}
.label{
    font-weight: bold;
}
.label-title{
    font-weight: bold;
    color: blue;
}
.cardContent {
    padding: 20;
    font-weight: bold;
    font-size: 30;
}
.body{
    font-size: 20px;
}