<ActionBar title="Card Layouts ♣️❤️" class="action-bar">
</ActionBar>

<GridLayout>
	<ScrollView class="page">
		<StackLayout>
			<!-- On Android the card view plugin requires adding an external library
				therefore it can't be demoed on Playground. You will have to download this project
				and build it locally to try it on Android -->
				<Card:CardView  *ngFor="let item of data" class="cardStyle" margin="10" elevation="40" radius="5">
					<StackLayout class="card-layout">
						<Label class="h2" [text]="item.heading"></Label>
						<Label class="body" textWrap="true" [text]="item.content"></Label>
						<button text="Aprobar" row="2" col="1" />
					</StackLayout>
				</Card:CardView>
		</StackLayout>
	</ScrollView>
</GridLayout>